<div class="container d-flex flex-column align-items-center pt-3 pb-3">
    <div class="flex-row pb-1">
        <a class="footer-icon" href="{% url 'facebook' %}" target="_blank">
            <i class="fa-brands fa-facebook fa-lg"></i>
        </a>
        <a class="footer-icon" href="{% url 'github' %}" target="_blank">
            <i class="fa-brands fa-github fa-lg"></i>
        </a>
        <a class="footer-icon" href="{% url 'linkedin' %}" target="_blank">
            <i class="fa-brands fa-linkedin fa-lg"></i>
        </a>
        <a class="footer-icon" href="mailto:nlsugi10@gmail.com?subject=Mail about Fruitshop" target="_blank">
            <i class="fa-regular fa-envelope fa-lg"></i>
        </a>
    </div>
    <span>&#169; 2023 Nicholas Sugimoto | All Rights Reserved</span>
</div>