<!-- https://getbootstrap.com/docs/5.3/components/navbar/ -->
<nav class="navbar navbar-expand-sm navbar-dark container">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><h1>Django Fruitshop</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" role="button">Log Out <i class="fa-regular fa-right-from-bracket"></i></a>
                </li>

                {% else %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" role="button">Login <i class="fa-regular fa-right-to-bracket"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}" role="button">Sign Up <i class="fa-regular fa-user-plus"></i></a>
                </li>
                
                {% endif %}
            </ul>
        </div>
    </div>
</nav>